.card {
    
    // FUNCTIONALITY
    // perspective: 150rem;
    // -moz-perspective: 150rem;
    position: relative;
    height: 42rem;
    
    &__side {
        height: 42rem;
        // transition: all .8s ease;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        backface-visibility: hidden;
        border-radius: 3px;
        overflow: hidden;
        box-shadow: 0 1.5rem 4rem rgba($color-black, .15);

        &-1{
            background-image: linear-gradient(to right bottom, rgba($color-secondary-light, 0.6), rgba($color-secondary-dark, 0.6));
        }
        
        &-2{
            background-image: linear-gradient(to right bottom, rgba($color-primary-light, 0.6), rgba($color-primary-dark, 0.6));
        }

        &-3{
            background-image: linear-gradient(to right bottom, rgba($color-tertiary-light, 0.6), rgba($color-tertiary-dark, 0.6));
        }

        &-4{
            background-image: linear-gradient(to right bottom, rgba($color-secondary-light, 0.6), rgba($color-secondary-dark, 0.6));
        }

        &-5{
            background-image: linear-gradient(to right bottom, rgba($color-primary-light, 0.6), rgba($color-primary-dark, 0.6));
            h5:nth-child(1){
                margin-top: -2rem;
            }
        }

        &-6{
            background-image: linear-gradient(to right bottom, rgba($color-tertiary-light, 0.6), rgba($color-tertiary-dark, 0.6));
        }

        &-7{
            background-image: linear-gradient(to right bottom, rgba($color-secondary-light, 0.6), rgba($color-secondary-dark, 0.6));
        }

        &-8{
            background-image: linear-gradient(to right bottom, rgba($color-primary-light, 0.6), rgba($color-primary-dark, 0.6));
            .subheading{
                font-size: 1.5rem;
                color: #777;
                text-align: center;
            }
        }        
    }
  

    // FRONT SIDE STYLING

    &__heading {
        font-size: 2.8rem;
        font-weight: 400;
        text-transform: uppercase;
        text-align: center;
        color: #777;
        // position: absolute;
        // top: 12rem;
        // right: 2rem;
        // width: 80%;
        margin: 0 auto;
        
    }

    &__details {
        position: relative;
        color: #777;
        padding: 1rem;
        h5{
            // text-align: center;
            font-size: 2rem;
        }

        p{
            font-size: 1.5rem;
        }           
    }
}


